.navbar {
    background-color: #dbb926;
    height: 100px;
    border-radius: 10px;
}

nav a.active
nav a:hover {
    color: black;
    font-weight: bold;
}

.links {
    float: left;
    margin: 15px;
}

.rechts {
    float: right;
    margin: 15px;
}

figure {
    margin: 0;
}

.kleur {
    color: #dbb926;
}

.logo {
    border-radius: 10%;
    width: 100px;
    height: 100px;
}

.required {
    color: red;
}

.h3 {
    margin-top: 15px;
}

a.unlink {
    color: inherit; 
    text-decoration: none;
}

.button {
    background-color: #dbb926;
}

body {
    overflow-x: hidden;
    background-color: #faf6f0;
}

aside {
    position: sticky;
    top: 20px;
    align-self: flex-start;
    max-height: calc(100vh - 40px);
    scroll-behavior: smooth;
}

.knop {
    display: inline-block;
    max-width: 150px;
    padding: 12px 24px;
    background-color: #dbb926;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    transition: background-color 0.3s;
}

.knop:hover {
    background-color: #c7bb10;
}